<!--Users#indexのページ-->

<!-- 【px-5】は、padding-左右-全sizeで5,【px-sm-0】は、padding-左右-smallsizeで5 -->
<div class ="container px-5 px-sm-0">
  <div class="row">
    <!-- ページ左側カラム3/12個分 -->
    <div class="col-md-3">
      <!-- 部分テンプレートを呼び出す設定。フォルダが違うので books/list。 -->
      <!-- 【render '部分テンプレートファイル名(_省略)', ローカル変数: 渡す値】 -->
      <%= render 'books/list', book: @book, user: current_user %>
    </div>
      <!-- 【offset-md-1】は、先頭に余白。つまり、真ん中に余白作る。 -->
      <div class="col-md-8 offset-md-1" >
        <h2>Users</h2>
        <table class="table">
          <!-- 表のヘッダ部分 -->
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <!-- 表のボディ部分 -->
          <tbody>
          <!-- 全レコードから取得した情報を1つずつ処理。-->
          <% @users.each do |user| %>
            <tr>
              <!-- 投稿ユーザーの画像表示-->
              <!-- image_tag("画像名"or メソッド, class:"クラス名") -->
              <td><%= image_tag(user.get_profile_image(40,40)) %></td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user_path(user.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>