<!-- ログイン後の詳細ページに、-->
<!-- 左側 (User info / New book) //右側 (Books) が表示されている。 -->
<main>
  <div>
    <div>

      <div >

        <h2>Users Info</h2>
        <table>
          <tr>

          </tr>
          <tr>

          </tr>
        </table>
        <div>
          <%= link_to "", %>
            iタグ
          <% end %>
        </div>

        <h2>New book</h2>
        <!-- form_withの部分 -->
        <!-- Ajax通信は、local:trueで同期通信の設定 -->
        <% form_with model: @book, local:true do |f| %>
        
          <label>Title</label>
          <%= f.text_field :title %>
        
          <label>Opinion</label>
          <%= f.text_area :body %>
          
          <h4><%= f.submit 'Create Book' %></h4>
        <% end %>

        <div>
          <h2>Books</h2>
          <!-- bookers 1 でやったところ。参考にする。 -->
          <table>
            <!-- theadタグ『table-header』は、表(=テーブル)組のヘッダー部分を構成。行グループを表す。 -->
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th></th>
              </tr>
            </thead>
            <!-- tbodyタグ『table-body』は、表(=テーブル)の本体部分を構成。行グループを表す。 -->
            <tbody>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</main>