<!-- aboutページ-->
<main>
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>
      <!-- 【px-3】は、paddingの左右をサイズ3に。-->
      <!-- 【mx-auto】は、marginの左右をサイズautoに。つまり、コンテンツ中央寄せ -->
      <!-- <i>タグは、他のテキストと区別する範囲を表す。(Italic、イタリック体、斜体の意。)-->
      <!-- FontAwesomeでは、標準的に<i>タグを使用しなければならない!! -->
      <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
    </div>
  </div>
</main>